@page "/Usuarios"
@using Modelos;

<h2>Lista de Usuarios</h2>

@if(lista == null)
{
    <p>No existen usuarios en el sistema</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>correo</th>
                <th>Fecha Creación</th>
                <th>Rol</th>
                <th>Foto</th>
                <th>Esta Activo</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Usuario user in lista)
            {
                <tr>
                    <td>@user.CodigoUsuario</td>
                    <td>@user.Nombre</td>
                    <td>@user.Correo</td>
                    <td>@user.FechaCreacion</td>
                    <td>@user.Rol</td>
                    <td>@user.Foto</td>
                    @if(user.EstaActivo)
                    {
                        <td>
                            <span class="oi oi-circle-check" style="color:green;"></span>
                        </td>
                    }
                    else
                    {
                        <td>
                            <span class="oi oi-circle-x" style="color:red;"></span>
                        </td>
                    }
                    <th>
                        <a class="btn btn-success" href="@($"/Usuarios/Editar")">Editar</a>
                    </th>
                </tr>
            }
        </tbody>

    </table>
}
